html {
    scroll-behavior: smooth;
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    font-family: 'Rubik', sans-serif;
    width: 100%;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

body::-webkit-scrollbar {
    display: none;
}

/* top bar */
nav {
    display: grid;
    grid-template-columns: calc(100vw - 95px) 45px 45px;
    align-items: center;
    vertical-align: center;
    position: fixed;
    width: 100%;
    height: 60px;
    z-index: 4;
    background-color: black;
    border-bottom: 1px solid white;
}

nav span {
    font-size: 3em;
    padding-left: 0.5rem;
    margin-top: -5px;
}

nav a {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.line1 {
    width: 70px;
    height: 70px;
    display: inline-block;
}

.line1 #a {
    display: inline-block;
    cursor: pointer;
}

.line1 #b {
    display: none;
}


@keyframes arrow {
    50%  {transform: translateX(8px)}
}

#toplink1 {
    height: 60px;
    width: 60px;
}

#toplink2 {
    height: 60px;
    width: 60px;
}

#linkedin {
    height: 45px;
    margin-top: 3px;
}

#github {
    height: 45px;
    width: auto;
    margin-top: 3px;
}

/* side nav */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    background-color: black;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
    border-right: 1px solid white;
    transform: translateX(-1px);
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 40px;
    color: #818181;
    display: block;
}
  
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    transition: 0.5s;
}
  
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

/* main title */
.title {
    font-family: 'Rock Salt', cursive;
    font-size: 8rem;

    text-shadow: 0 0 0.25em #a6a6a6;
}

.title-section {
    position: absolute;
    height: 60vh;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}

#first {
    position: absolute;
    left: 42%;
    transform: translate(-50%, 0);
    z-index: 2;
}

#last {
    position: absolute;
    left: 58%;
    transform: translate(-50%, 35%);
    z-index: 2;
}

#arrow {
    display: none;
}

@keyframes arrow2 {
    50%  {transform: translateY(8px)}
}

/* cards */
#card-grid {
    margin: 5rem auto;
    width: min(90%, 75rem);
    display: grid;
    grid-auto-flow: row;
    gap: 1rem;
}

.card-before {
    width: 100%;
    border: white 1px solid;
    border-radius: 20px;
    cursor: pointer;
    transition: ease-in 0.2s;
}

#card-grid div h3 {
    font-size: 2.5em;
    text-align: center;
}

section h3 {
    font-size: 2.5em;
    text-align: center;
}

/* contact */
.contact a {
    text-decoration: none;
}



#contact-grid {
    display: grid;
    text-align: center;
    justify-content: center;
    margin-bottom: 50px;
    margin-left: 50vw;
    transform: translateX(-50%);
    width: 35vw;
    grid-auto-flow: row;
    gap: 0.5rem;
}

#contact-github {
    width: 125px;
    height: auto;
}

#contact-linkedin {
    width: 150px;
    height: auto;
}

#email-svg {
    width: 40px;
    height: auto;
    text-decoration: none;
}

#email-title {
    display: inline-block;
    color: white;
    font-size: 2rem;
    text-decoration: none;
    margin: 0;
    transform: translateY(-9px);
}


/* pop up card */
.card {
    width: 0;
    height: 80vh;
    display: block;
    position: fixed;
    background-color: black;
    border: none;
    left: 50vw;
    top: 10vh;
    transform: translate(-50%);
    border-radius: 50px;
    transition: 0.3s;
    overflow-x: hidden;
    z-index: 5;
}


.card .closeCard {
    position: fixed;
    top: 0;
    right: 25px;
    font-size: 50px;
    transition: 0.5s;
}

.card a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 40px;
    color: #818181;
    display: block;
}

@media (min-width: 55em) {
    #card-grid {
        grid-template-columns:  33% 33% 33%;
    }
}

@media (min-width: 35em) {
    #contact-grid {
        grid-template-columns: 145px 160px 160px;
        gap: 0;
    }
}

.card-p {
    display: block;
    font-size: 2vw;
    margin-left: 5vw;
    width: 95%;
}

.card-p--Title {
    display: block;
    font-size: 3vw;
    font-style: italic;
    margin-top: 0;
    margin-bottom: -25px;
}

.card-p--About {
    display: block;
    font-size: 2vw;
    margin-left: 30vw;
    width: 65%;
}

.card-h3 {
    display: block;
    font-size: 4rem;
    margin-left: 5vw;
}

/* about card */
#aboutCard img {
    border-radius: 100%;
    display: inline-block;
    position: fixed;
    height: auto;
    width: 17vw;
    margin-left: 5vw;
}

/* job card */
#jobCard::-webkit-scrollbar {
    overflow: scroll;
    width: 5px;
}

#jobCard::-webkit-scrollbar-track {
    background-color: none;
    width: 10px;
    margin-top: 40px;
    margin-bottom: 40px;
}

#jobCard::-webkit-scrollbar-thumb {
    background-color: #818181;
    border-radius: 50px;
    background-clip: padding-box;
}


/* mobile support */
/* tablets */
@media (max-width: 1024px) {
    .card-p {
        font-size: 4vw;
    }

    .sidenav a {
        color: white;
    }
}

/* phones */
@media (max-width: 640px) {
    .title {
        font-family: 'Rock Salt', cursive;
        font-size: 3rem;
    
        text-shadow: 0 0 0.25em #a6a6a6;
    }
    
    .title-section {
        position: absolute;
        height: 60vh;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
    }
    
    #first {
        position: absolute;
        left: 42%;
        top: 30%;
        transform: translate(-50%, -35%);
        z-index: 2;
    }
    
    #last {
        position: absolute;
        left: 58%;
        top: 30%;
        transform: translateX(-50%);
        z-index: 2;
    }
    
    #arrow {
        display: block;
        color: white;
        margin: 0;
        text-align: center;
        margin-top: 90%;
        animation: arrow2 1.5s infinite;
    }
}

/* disable hover for mobile */
@media (hover: hover) {
    .card a:hover { color: #f1f1f1; }
    .card-before:hover { background-color: white; color: black; }
    .sidenav a:hover { color: #f1f1f1; }
    .line1:hover #b {
        display: inline-block;
        cursor: pointer;
    
        padding-left: 20px;
        animation: arrow 1.5s infinite;
    }
    .line1:hover #a { display: none; }
    #github:hover { fill: #6e5494; transition: 0.2s ease-out; }
    #linkedin:hover { fill: #0077b5; transition: 0.2s ease-out; }
    nav span:hover { transition: 0.4s ease-out; }
  }

/* mobile cards */
#aboutImg--mobile {
    border-radius: 100%;
    height: 20vh;
    width: auto;
    margin-left: 25vw;
}

.aboutP--mobile {
    color: white;
    font-size: 1.5rem;
    display: block;
    margin-left: 10%;
    margin-right: 10%;
}

.cardP--mobile {
    font-size: 1.5rem;
    margin-left: 10px;
    margin-right: 10px;
}

.cardP--Title {
    font-size: 2rem;
    margin-bottom: 0;
}