html {
    scroll-behavior: smooth;
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    font-family: 'Rubik', sans-serif;
    width: 100%;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

body::-webkit-scrollbar {
    display: none;
}
  
nav {
    display: grid;
    grid-template-columns: calc(100vw - 95px) 45px 45px;
    align-items: center;
    vertical-align: center;
    position: fixed;
    width: 100%;
    height: 60px;
    z-index: 1;
    background-color: black;
    border-bottom: 1px solid white;
}

nav span {
    font-size: 3em;
    padding-left: 0.5rem;
    margin-top: -5px;
}

nav span:hover {
    transition: 0.4s ease-out;
}

.line1 {
    width: 70px;
    height: 70px;
    display: inline-block;
}

.line1 #a {
    display: inline-block;
    cursor: pointer;
}

.line1:hover #a {
    display: none;
}

.line1 #b {
    display: none;
}

.line1:hover #b {
    display: inline-block;
    cursor: pointer;

    padding-left: 20px;
    animation: arrow 1.5s infinite;
}

@keyframes arrow {
    50%  {transform: translateX(8px)}
}

a {
    display: inline-block;
    margin: 0;
    padding: 0;
}

#toplink1 {
    height: 60px;
    width: 60px;
}

#toplink2 {
    height: 60px;
    width: 60px;
}

#linkedin {
    /* display: inline-block; */
    height: 45px;
    margin-top: 3px;
}

#linkedin:hover {
    fill: #0077b5;
    transition: 0.2s ease-out;
}

#github {
    /* display: block; */
    height: 45px;
    width: auto;
    margin-top: 3px;
}

#github:hover {
    fill: #6e5494;
    transition: 0.2s ease-out;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: black;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
    border-right: 1px solid white;
    transform: translateX(-1px);
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 40px;
    color: #818181;
    display: block;
}
  
.sidenav a:hover {
    color: #f1f1f1;
}
  
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    transition: 0.5s;
}
  
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.title {
    font-family: 'Rock Salt', cursive;
    font-size: 8rem;
    /* color: #e6e6e6; */

    text-shadow: 0 0 0.25em #a6a6a6;
}

#title {
    position: absolute;
    top: 42%;
    left: 42%;
    transform: translate(-50%, -100%);
}

#title2 {
    position: absolute;
    top: 57%;
    left: 58%;
    transform: translate(-50%, -100%);
}

/* #shadow {
    display: inline-block;
    width: 500px;
    height: 100px;
    z-index: -1;
    background-color: white;
    margin-top: 60vh;
    margin-left: 35vw;
    transform: perspective(4em) rotateX(40deg) scale(1,0.6);
    filter: blur(2em)
} */

#grid {
    margin: 5rem auto;
    width: min(90%, 75rem);
    display: grid;
    grid-auto-flow: row;
    gap: 1rem;
}

.card {
    width: 100%;
    background-color: #2d3436;
    border-radius: 20px;
}

.card:hover {
    background-color: #636e72;
}

@media (min-width: 55em) {
    #grid {
        grid-template-columns:  33% 33% 33%;
    }
}

#grid div h3 {
    font-size: 2.5em;
    text-align: center;
}

section h3 {
    font-size: 2.5em;
    text-align: center;
}

#bottomlink1 {
    margin-left: 41.5vw;
    margin-bottom: 30px;
}

#bottomlink2 {
    margin-left: 2vw;
    margin-bottom: 30px;
}

#github2 {
    width: 7vw;
    height: auto;
    transform: translatey(-5px);
}

#linkedin2 {
    width: 10vw;
    height: auto;
}

#about img {
    border-radius: 100%;
    height: 30vh;
    width: auto;
    margin-right: 0vw;
}




/* pop up card */
.card a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 40px;
    color: #818181;
    display: block;
}
  
.card a:hover {
    color: #f1f1f1;
}
  
.card .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    transition: 0.5s;
}